html{
  box-sizing: border-box;
}


#root {
  max-width: 1280px;
  margin: 0rem;
  padding: 0rem;
  font-family: 'Roboto', sans-serif;
  --light-bg-col:#F2E2E2;
  --light-prim-font-col:#191717;
  --accent-font-col:#5454F7;
  --dark-bg-col:var(--light-prim-font-col);
  --dark-prim-font-col:var(--light-bg-col);
}

h1,h2,h3,h4{
  text-transform: capitalize;
}

header{
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

.mobile-menu{
  position: absolute;
  z-index:1000;
}

.fa-bars{
  position: relative;
  left:-1rem;

}
.menu{
position: fixed;
overflow: hidden;
background-color: white;
font-weight: 600;
font-size: 2rem;
text-transform: capitalize;
top: 0;
left:0;
height: 100%;
width: 80%;
z-index: 50;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items:flex-start;
gap:2rem;
padding-left: 1.5rem;
}
.menu ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 4rem;
  gap:3rem;
  padding: 0;
}

.menuMask{
  position: fixed;
  background-color:#fff;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  z-index: 50;
  opacity: 15%;
}

.download{
  color:var(--accent-font-col);
  border: solid 1px var(--accent-font-col);
  width: fit-content;
  font-size: 2rem;
  padding: 1rem;
}

.Hero{
  height:30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.inner-Hero h1{
  text-transform: capitalize;
  margin-bottom: 0rem;
}
.inner-Hero h4{
  font-size: 0.8rem;
  margin:0.5rem 0 0rem 0;
}
 .highlight{
  color: var(--accent-font-col);
}



.inner-Hero{
  position: relative;
  height: 22%;
  width: fit-content;
  max-width: 410px;
  background-color: #fff;
  border-radius: 20px;
  padding: 0.5rem 0.5rem 4.5rem 0.5rem;
  box-shadow:  0px 3px 11px rgba(0, 0, 0, 0.2);


}
.inner-Hero>img{
  position: absolute;
  z-index: -1;
}

/* top left svg */
.inner-Hero :nth-child(3){
  bottom: 4rem;
right: 17rem;
}
/* bottom left svg */
.inner-Hero :nth-child(4){
  top: 9rem;
  right:  18rem;
}
/* center top svg */
.inner-Hero :nth-child(5){
  bottom: 5rem;
  left: 5rem;
}

/* center bottom svg */
.inner-Hero :nth-child(6){
  top: 7rem;
  left: 7rem;
}

/* top right svg */
.inner-Hero :nth-child(7){
  bottom: 4.5rem;
  left: 19.25rem;
}

/* bottom right SVG */
.inner-Hero :nth-child(8){
  top: 7rem;
  left:18.5rem
}

.mainText{
  margin:0 1rem 1rem 0;
  text-align: left;
  word-break: break-word;
}
.about picture{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}


.profileImage{
  border-radius: 38px;

}
.skills{
  display: grid;
  grid: 33% / auto auto auto;
  place-items: center;
  text-align: center;
  gap:1rem;
  margin:0 0 3rem 0;

}

.skills h4{
  margin:0;
}

.skill{
  border:  solid black 1px;
  padding:0.5rem 1rem 0.5rem 1rem;
  border-radius: 20px;
  width:20vw;
}



svg{
  height:50%;
  width:20vw;
  fill: black;

}



/* JS Logo #E9D91F */
/*  HTML hover #F43B00 */

/* JS Logo */
div.skill:nth-child(1) > svg:nth-child(1) > path:nth-child(1):hover{
  fill:#E9D91F;
}
/* HTML */
div.skill:nth-child(2) > svg:nth-child(1):hover{
  fill:#F43B00;
}
/* CSS */
div.skill:nth-child(3) > svg:nth-child(1) > path:nth-child(1):hover{
  fill:#008BF3;
}

/*  node hover color #81cf08; */
/* #45493D */

/* , div.skill svg#Lager_1 path */

/* node JS logo */
div.skill:nth-child(4) > svg:nth-child(1) > path:nth-child(1){
  fill:black;
}
div.skill:nth-child(4) > svg:nth-child(1)>* {
  fill:white;
 }



 div.skill:nth-child(4) > svg:nth-child(1):hover>*{
  fill:#81cf08;
 }


/* Sass logo */
div.skill:nth-child(5) > svg:nth-child(1) > circle:nth-child(1){
  fill: black;
}



div.skill:nth-child(5) > svg:nth-child(1) > circle:nth-child(1):hover{
fill:#DA5799;
}


/* React Logo */

div.skill:nth-child(6) > svg:nth-child(1) > g:nth-child(1)>*{
  fill:black;
}

div.skill:nth-child(6) > svg:nth-child(1) > g:nth-child(1):hover>*
{
  fill:#61dafb;
}

/* Projects */

.projectSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectContainer{
  display: flex;
  flex-direction: column;
  box-shadow:6px 6px 29px #bfbfbfeb;
  width:80%;
  padding: 1rem;
  align-self: center;
}

.projectContainer img{
  display: flex;
  height: 157px;
}
.projectContainer p{
  flex-grow: 1;
}

.projectContainer h3{
  margin:0;
}
.projectContainer h4:first-of-type {
  margin:0 0 0.15rem 0;
}

.projectContainer ul{
  text-align: left;
  padding: 0;
  margin: 0 0 1rem 0;
  line-height: 1.5;
}

.projectContainer ul li{
  list-style: none;
}

.technologies{
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  margin:0 0 1rem 0;
  flex-wrap: wrap;
}

.projectContainer h4:last-of-type{
  margin: 0.5rem 0 0.5rem 0;
  width: 100%;

}

.tech{
  border: solid 1.5px #707070;
  border-radius:50px;
  padding: 0.25rem 0.35rem 0.15rem 0.55rem;
  margin: 0.15rem;
  font-size: 0.8rem;
  font-weight:500;
  width: fit-content;
  white-space: nowrap;
}

.projectbtn{
  display: flex;
  justify-content: flex-start;
  gap:1rem;
}

.projectbtn >*{
  padding: 0.5rem 2rem 0.5rem 2rem;
  background-color: transparent;
  border-radius: 20px;
  border: solid 1.5px #707070;
  font-weight: 700;
  cursor: pointer;
}

.fa-github{
  width:1rem;
  margin-right: 0.5rem;
}