body{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

.App{
  gap: 0;
  display: flex;
  flex-direction: column;
}

#root {
  font-family: 'Roboto', sans-serif;
  --light-bg-col:#F2E2E2;
  --light-prim-font-col:#191717;
  --accent-font-col:#5454F7;
  --dark-bg-col:var(--light-prim-font-col);
  --dark-prim-font-col:var(--light-bg-col);
}

h1,h2,h3,h4{
  text-transform: capitalize;
}
h2,h3,h4, .about p, .projectContainer, .smallProjCard{
  margin-left:1rem;
}

header{
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}
.deskNav{
  display: none;
}

.deskNav ul{
  display: flex;
 list-style: none;
 gap:4rem;
 font-size: 1.4rem;
 margin: 1rem;
 font-weight: 500;
}
.deskNav ul a{
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
}

.deskNav ul li:hover{
  color: var(--accent-font-col);
  cursor: pointer;

}

.fa-bars{
  margin-top:0.5rem
}

/* toggle css */
.cm-toggle {
	-webkit-appearance: none;
  appearance: none;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	border: 0;
	outline: 0;
	cursor: pointer;
	margin: 1rem;
}


/* To create surface of toggle button */
.cm-toggle:after {
	content: '';
	width: 60px;
	height: 1.5rem;
	display: inline-block;
	background: var(--light-prim-font-col);
	border-radius: 18px;
	clear: both;
}


/* Contents before checkbox to create toggle handle */
.cm-toggle:before {
	content: '';
	width: 1rem;
	height: 1rem;
	display: block;
	position: absolute;
	left: 00.3rem;
	top: 0.25rem;
	border-radius: 50%;
	background: rgb(255, 255, 255);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}


/* Shift the handle to left on check event */
.cm-toggle:checked:before {
	left: 2.5rem;
	box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
}
/* Background color when toggle button will be active */
.cm-toggle:checked:after {
	background: var(--accent-font-col)
}

.cm-toggle,
.cm-toggle:before,
.cm-toggle:after,
.cm-toggle:checked:before,
.cm-toggle:checked:after {
	transition: ease .3s;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	-o-transition: ease .3s;
}

/* mobile menu */


.mobile-menu{
  position: absolute;
  z-index:1000;
}


.menu{
position: fixed;
overflow: hidden;
background-color: white;
font-weight: 600;
font-size: 2rem;
text-transform: capitalize;
top: 0;
left:0;
height: 100%;
width: 80%;
z-index: 50;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items:flex-start;
gap:2rem;
padding-left: 1.5rem;
}
.menu ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 4rem;
  gap:3rem;
  padding: 0;
}

.menuMask{
  position: fixed;
  background-color:#fff;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  z-index: 50;
  opacity: 15%;
  cursor: pointer;
}




.download{
  color:var(--accent-font-col);
  border: solid 1px var(--accent-font-col);
  width: fit-content;
  font-size: 2rem;
  padding: 1rem;
  cursor:pointer
}

.Hero{
  height:70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: -4;
}

.inner-Hero h1{
  text-transform: capitalize;
  margin-bottom: 0rem;
  font-size: clamp(2rem, 4.5vw, 3rem);
}
.inner-Hero p{
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  margin:0.5rem 0 0rem 0;
}
 .highlight{
  color: var(--accent-font-col);
  font-weight: 600;
}



.inner-Hero{
  position: relative;
  height: 22%;
  width:  clamp(60%, 80%, 700px);
  max-width: 700px;
  background-color: #fff;
  border-radius: 20px;
  padding: 0.5rem 0.5rem 4.5rem 0.5rem;
  box-shadow:  0px 3px 11px rgba(0, 0, 0, 0.2);


}
.inner-Hero>svg{
  position: absolute;
  z-index: -1;
}



/* bottom left svg */
.inner-Hero :nth-child(3){
  top: 15rem;
  right: 38rem;
  width:clamp(1rem, 8vw, 6rem);
}
/* top left svg */
.inner-Hero :nth-child(4){
  top: -2rem;
  left:-5.5rem;
width: 17vw;
height: 17vw;
}
/* center top svg */
.inner-Hero :nth-child(5){
  bottom: 5.5rem;
  left: 7rem;
  height: 24vh;
  fill: #7C7CFC;
  width: 24vw;
}

/* center bottom svg */
.inner-Hero :nth-child(6){
    top: 11rem;
    left: 7rem;
    width: 20vh;
    height: 20vw;
}

/* top right svg */
.inner-Hero :nth-child(7){
  bottom:12.5rem;
  left: 47rem;
  height: 11vw;
  width: 11vw;
}

/* bottom right SVG */
.inner-Hero :nth-child(8){
  top: 8rem;
  width: clamp(179px,13vw, 200px);
  height: 13vw;
  height: 10vw;
  left: 40rem;

}

.mainText{
  margin:0 1rem 1rem 0;
  text-align: left;
  word-break: break-word;
}

.about picture{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}


.profileImage{
  border-radius: 38px;

}
.skills{
  display: grid;
  grid: 33% / auto auto auto;
  place-items: center;
  text-align: center;
  gap:0.5rem;
  margin:0 0 3rem 0;


}

.skills h4{
  margin:0;
}

.skill{
  border:  solid black 1px;
  padding:0.5rem 1rem 0.5rem 1rem;
  border-radius: 20px;
  width: fit-content;
}
.skill:nth-child(1){
  font-size: 0.9rem;
  padding:0.5rem 0.8rem 0.5rem 0.8rem;
}

 .about p{
margin-left: 1rem;
}

svg{
  width:14vw;


}



/* JS Logo #E9D91F */

/* JS Logo */
div.skill:nth-child(1) > svg:nth-child(1) > path:nth-child(1):hover{
  fill:#E9D91F;
}
/* HTML */
div.skill:nth-child(2) > svg:nth-child(1):hover{
  fill:#F43B00;
}
/* CSS */
div.skill:nth-child(3) > svg:nth-child(1) > path:nth-child(1):hover{
  fill:#008BF3;
}



/* node JS */

div.skill:nth-child(4) > svg:nth-child(1) > path:nth-child(1):hover+path,
div.skill:nth-child(4) > svg:nth-child(1) > path:nth-child(1):hover+path+path
{
  fill:#81cf08;
}

div.skill:nth-child(5) > svg:nth-child(1) > circle:nth-child(1):hover{
fill:#DA5799;
}


/* React Logo */



div.skill:nth-child(6) > svg:nth-child(1) > g:nth-child(1):hover>*
{
  fill:#61dafb;
}

/* Projects */

.projectSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom:1rem;
}

.projectContainer{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 2rem;
}

.projectContainer, .smallProjCard{
  width: 80%
}

.projectContainer img{
  display: flex;
  height: 157px;
}
.projectContainer p{
  flex-grow: 1;
}

.projectContainer h3{
  margin:0;
}
.projectContainer h4:first-of-type {
  margin:0 0 0.15rem 0;
}

.projectContainer ul{
  text-align: left;
  padding: 0;
  margin: 0 0 1rem 0;
}

.projectContainer ul li{
  list-style: none;
}

.technologies{
  display: flex;
  justify-content: flex-start;
  margin:0 0 1rem 0;
  flex-wrap: wrap;
}

.projectContainer h4:last-of-type{
  margin: 0.5rem 0 0.5rem 0;
  width: 100%;

}

.tech{
  border: solid 1.5px #707070;
  border-radius:50px;
  padding: 0.25rem 0.35rem 0.15rem 0.55rem;
  margin: 0.15rem;
  font-size: 0.8rem;
  font-weight:500;
  width: fit-content;
  white-space: nowrap;
}

.projectbtn{
  display: flex;
  justify-content: flex-start;
  gap:1rem;
}

.projectbtn >*{
  padding: 0.5rem 2rem 0.5rem 2rem;
  background-color: transparent;
  border-radius: 20px;
  border: solid 1.5px #707070;
  font-weight: 700;
  cursor: pointer;
  color: inherit;
}

.projectbtn >* a{
  text-decoration: none;
  color: inherit;
}
.projectbtn >*:hover{
  background-color: var(--accent-font-col);
  color: var(--light-bg-col);
}

.fa-github{
  width:1rem;
  margin-right: 0.5rem;
}

.smallPContainer{
  display: flex;
  flex-direction: column;
}

.smallProjCard{
  border: solid 1px black;
  margin: 1rem 0 2rem 1rem;
  border-radius: 5px;
  width: 80%;
  padding: 1rem;

}
.iconsRight svg{
  width: 8vw;
}
.smallProjCard svg:nth-child(1){
  height: 1.5rem;
}



.iconsRight svg:nth-child(1),
.smallProjCard svg:nth-child(2)
{
  height: 1rem;
  cursor: pointer;
  fill:inherit;
  width: 2rem;
}

.icons{
  display: flex;
  justify-content: space-between;
  padding:0.5rem;
}

.docIcon{
  width:5vw
}
.smallProjCard p{
  margin:1rem;
}
.smallPtech{
  padding:0 0 0 1rem;
}

.contact{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: -1rem;
  padding: 7rem;


}
.contact h5, h3{
  margin-bottom: 0;
}


.contact h5{
  color: var(--accent-font-col);
align-self: center;
}

.contact h3{
  margin-left: 0;
}
.contact p{
  width: 80%;
  align-self: center;
}

.contact a{
  border: solid 2px var(--accent-font-col);
  width: fit-content;
  align-self: center;
  padding: 1.5rem 2rem 1.5rem 2rem;
  text-decoration: none;
  font-weight: 500;
  color: black;

}

.contact a:hover{
  background-color: var(--accent-font-col);
  color:var(--light-bg-col)!important;
  font-weight: bold;
  border-radius: 5px;
}


/* media queries */

@media  screen and (min-width:530px) {
  .inner-Hero :nth-child(6){
    top:10rem
  }
}



@media screen and (min-width:656px){
  /* center bottom */
   .inner-Hero :nth-child(6){
    top:9rem;
    left:13rem;
  }
  .inner-Hero :nth-child(5){
    left:13rem;
  }
}


@media screen and (min-width:865px){
  /* center bottom */
   .inner-Hero :nth-child(6){
    top:9rem;
    left:13rem;
  }
  .inner-Hero :nth-child(5){
    left:13rem;
  }
  .aboutContents{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap:6rem;
  }
  .aboutText{
    width: 50%;
    font-size: 1.4rem;
  }
  .aboutText p{
    margin-left:0;
  }
  .aboutContents picture{
    margin:0
  }
  .fa-bars{
    display: none;
  }
  .deskNav{
    display: flex;
  }
  .projectContainer{
    display: grid;
    grid-template-columns: 35% auto;
    grid-template-rows: auto auto;
    height: fit-content;
    width: 80%;
    gap:1rem;
    max-width: 964px;

  }

  .smallPContainer{
    margin: 0 1rem 0 0;
    display: flex;
    flex-flow: row wrap;
  }


  .projectContainer img{
  grid-row-start: 1;
  grid-column-end: 1;
  height: 100%;
  width:100%;
  }

  .stack{
    grid-row: 2;

  }
  .projectbtn{
    grid-row:2;
    grid-column: 1;
    height: 30%;
    align-self: center;
    justify-self: center;
  }
  .projectbtn>*{
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align: center;
    height: fit-content;
  }


}
@media screen and (min-width:1628px){
  .aboutText{
    font-size: 1.8rem;
  }

  .inner-Hero{
    height:28%;
  }
}

@media screen and (min-width:1200px){
  .aboutText{
    font-size: 1.7rem;
  }
   /* center bottom */
   .inner-Hero :nth-child(6){
    top:5.5rem;
  }
  .inner-Hero{
    height:25%;
  }

  .projectSection{
    width: 100%;
  }
  .projectContainer{
    justify-content: center;
    align-items: center;
    align-self: center;
  }
  h2{
    font-size: 2rem;
  }
  h2,h3{
    text-align: center;
  }
  h3{
    font-size: 1.5rem;
  }

  .contact p{
    width:50%;
    font-size: 1.2rem;
  }
  .contact h3{
    font-size: 1.7rem;
  }
  .contact h5{
    font-size: 1.3rem;
  }

  .smallProjCard{
    max-width: 350px;

  }

}


@media screen and (min-width:1005px) {
  .inner-Hero :nth-child(8){
    right:-4.75rem;
  }


}
@media screen and (min-width:990px){
  /* center bottom */
   .inner-Hero :nth-child(6){
    top:7.5rem;
  }

  .inner-Hero :nth-child(4){
    left: -8rem;

  }
  .skills{
    gap:3rem
  }
.projectSection h3{
  margin-bottom: 2rem;
}

  .smallPContainer{
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  .docIcon{
    width: 2vw;
  }


}

@media screen and (max-width:923px) {
  .inner-Hero :nth-child(7){
    left: 40rem;

  }

}


@media screen and (min-width:862px) {
  /* bottom Right SVG Hero */
  .inner-Hero :nth-child(8){
    right:-3.75rem;
  }

}


@media screen and (min-width:826px) {
  /* bottom Right SVG Hero */
  .inner-Hero :nth-child(8){
    right:-3.75rem;
  }

}





@media screen and (max-width: 806px) {

  .inner-Hero :nth-child(8){
    top:10rem;
  left: 37rem;
}

.inner-Hero :nth-child(7){
left:35rem
}

}


@media screen and (max-width:779px) {

.inner-Hero:nth-child(7){
  left: 30rem;
}

.inner-Hero :nth-child(8){
  top: 10rem;
  left: 31rem;
}

.inner-Hero:nth-child(3){
  right:20rem;
}

}


@media screen and (max-width:722px) {
  .inner-Hero :nth-child(3){
    right:30rem;
  }
  .inner-Hero :nth-child(4){
    left:-3.5rem;
  }
}


@media screen and (max-width:667px){
  .inner-Hero :nth-child(8){
    left:28rem;
  }
  .inner-Hero :nth-child(7){
    left:32rem;
  }
}

@media screen and (max-width:605px){
  .inner-Hero :nth-child(8){
    left:26rem;
  }
  .inner-Hero :nth-child(7){
    left:28rem;
  }
}

@media screen and (max-width:579px){
  .inner-Hero :nth-child(8){
    left:24rem;

  }
  .inner-Hero :nth-child(7){
    left:27rem;
  }
  .inner-Hero :nth-child(3){
    right:25rem;
  }

}



@media screen and (max-width:541px){
  .inner-Hero :nth-child(8){
    left:22rem;

  }
  .inner-Hero :nth-child(7){
    left:27rem;
  }
}

@media screen and (max-width:519px){
  .inner-Hero :nth-child(8){
    left:21rem;
    top:10.5rem;

  }
  .inner-Hero :nth-child(7){
    left:24rem;
  }
}

@media screen and (max-width:497px){
  .inner-Hero :nth-child(8){
    left:19rem;

  }
  .inner-Hero :nth-child(7){
    left:21rem;
  }
}

@media screen and (max-width:474px){
  .inner-Hero :nth-child(3){
    right: 22rem;

  }
}

@media screen and (max-width:451px){
  .inner-Hero :nth-child(8){
    left:17rem;

  }
}

@media screen and (max-width:405px){
  .inner-Hero :nth-child(8){
  left: 16rem;
top: 11.5rem;

  }

  .inner-Hero :nth-child(7){
    left: 20rem;
  }
  .inner-Hero :nth-child(3){
      right:18rem;
  }
  .inner-Hero :nth-child(4){
    left:-2rem;
    top:-1rem;
  }
}


@media screen and (max-width:375px){
  .inner-Hero :nth-child(8){
    left:14rem;
    top:12rem;

  }

  .inner-Hero :nth-child(7){
    left:15rem;
    left:18rem;
  }
}